<div class="container">
  <div class="row">
    <div class="col">
      <%= link_to "register", new_registration_path %>
      <table class="table">
        <tbody>
        <% @metadatum.each do |metadata| %>
          <tr>
            <td><%= link_to metadata.entity_id, registration_path(metadata) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
