<div class="container">
  <div class="row">
    <div class="col">
      <%= form_with url: session_path, data: { remote: false } do |form| %>
        <%= form.select "entity_id", @metadatum.pluck(:entity_id, :entity_id) %>
        <%= form.select "binding", [["HTTP Post", :http_post], ["HTTP Redirect", :http_redirect]] %>
        <%= form.submit "Log In to IDP" %>
      <% end %>
    </div>
  </div>
</div>
