<div class="container">
  <div class="row">
    <div class="col">
      <%= link_to "Log in to IDP via redirect", @redirect_uri %>

      <%= form_tag @post_uri.to_s, method: :post do %>
        <% @saml_params.each do |(key, value)| %>
          <%= hidden_field_tag key, value %>
        <% end %>
        <%= submit_tag "Log In to IDP via POST" %>
      <% end %>
    </div>
  </div>
</div>
