<div class="container">
  <div class="row">
    <div class="col">
      <h1>Forbidden</h1>
      <% if @model %>
        <ul class="list-unstyled">
          <% @model.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
        <%= debug @model %>
      <% end %>
    </div>
  </div>
</div>
