<div class="container">
  <div class="row">
    <div class="col">
      <h1>Forbidden</h1>
      <% if @item %>
        <ul class="list-unstyled">
          <% @item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
